.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #ff3f6c;
  }
  
  .logo {
    color: white;
    font-size: 24px;
    font-weight: bold;
  }
  
  .search-bar input {
    padding: 10px;
    border: none;
    border-radius: 5px;
  }
  
  .nav-links {
    display: flex;
    list-style: none;
  }
  
  .nav-links li {
    margin-left: 20px;
    color: white;
    cursor: pointer;
  }
  